src/conf/xml-resources/web-service-references/WebServiceOP/wsdl/localhost_8080/WebServiceMobileBooth/WebServiceOP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServiciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServiciosWeb/" name="WebServiceOP">
<types>
<xsd:schema>
<xsd:import namespace="http://ServiciosWeb/" schemaLocation="http://localhost:8080/WebServiceMobileBooth/WebServiceOP?xsd=1"/>
</xsd:schema>
</types>
<message name="ActualizarUsuario">
<part name="parameters" element="tns:ActualizarUsuario"/>
</message>
<message name="ActualizarUsuarioResponse">
<part name="parameters" element="tns:ActualizarUsuarioResponse"/>
</message>
<message name="ActualizarUsuarioImg">
<part name="parameters" element="tns:ActualizarUsuarioImg"/>
</message>
<message name="ActualizarUsuarioImgResponse">
<part name="parameters" element="tns:ActualizarUsuarioImgResponse"/>
</message>
<message name="TPLicenciaConductor">
<part name="parameters" element="tns:TPLicenciaConductor"/>
</message>
<message name="TPLicenciaConductorResponse">
<part name="parameters" element="tns:TPLicenciaConductorResponse"/>
</message>
<message name="InsertarUsuario">
<part name="parameters" element="tns:InsertarUsuario"/>
</message>
<message name="InsertarUsuarioResponse">
<part name="parameters" element="tns:InsertarUsuarioResponse"/>
</message>
<message name="EliminarUsuario">
<part name="parameters" element="tns:EliminarUsuario"/>
</message>
<message name="EliminarUsuarioResponse">
<part name="parameters" element="tns:EliminarUsuarioResponse"/>
</message>
<message name="UpdateUsuarios">
<part name="parameters" element="tns:UpdateUsuarios"/>
</message>
<message name="UpdateUsuariosResponse">
<part name="parameters" element="tns:UpdateUsuariosResponse"/>
</message>
<message name="MostrarUsuarios">
<part name="parameters" element="tns:MostrarUsuarios"/>
</message>
<message name="MostrarUsuariosResponse">
<part name="parameters" element="tns:MostrarUsuariosResponse"/>
</message>
<message name="NumeroFinal">
<part name="parameters" element="tns:NumeroFinal"/>
</message>
<message name="NumeroFinalResponse">
<part name="parameters" element="tns:NumeroFinalResponse"/>
</message>
<message name="AutomovilName">
<part name="parameters" element="tns:AutomovilName"/>
</message>
<message name="AutomovilNameResponse">
<part name="parameters" element="tns:AutomovilNameResponse"/>
</message>
<message name="LicencName">
<part name="parameters" element="tns:LicencName"/>
</message>
<message name="LicencNameResponse">
<part name="parameters" element="tns:LicencNameResponse"/>
</message>
<message name="Recuperarimage">
<part name="parameters" element="tns:Recuperarimage"/>
</message>
<message name="RecuperarimageResponse">
<part name="parameters" element="tns:RecuperarimageResponse"/>
</message>
<message name="CmbMunicipio">
<part name="parameters" element="tns:CmbMunicipio"/>
</message>
<message name="CmbMunicipioResponse">
<part name="parameters" element="tns:CmbMunicipioResponse"/>
</message>
<message name="CmbEstado">
<part name="parameters" element="tns:CmbEstado"/>
</message>
<message name="CmbEstadoResponse">
<part name="parameters" element="tns:CmbEstadoResponse"/>
</message>
<message name="InsertOrden">
<part name="parameters" element="tns:InsertOrden"/>
</message>
<message name="InsertOrdenResponse">
<part name="parameters" element="tns:InsertOrdenResponse"/>
</message>
<message name="DocumentQR">
<part name="parameters" element="tns:DocumentQR"/>
</message>
<message name="DocumentQRResponse">
<part name="parameters" element="tns:DocumentQRResponse"/>
</message>
<message name="TPAutoUser">
<part name="parameters" element="tns:TPAutoUser"/>
</message>
<message name="TPAutoUserResponse">
<part name="parameters" element="tns:TPAutoUserResponse"/>
</message>
<message name="NameID">
<part name="parameters" element="tns:NameID"/>
</message>
<message name="NameIDResponse">
<part name="parameters" element="tns:NameIDResponse"/>
</message>
<message name="DetaPerson">
<part name="parameters" element="tns:DetaPerson"/>
</message>
<message name="DetaPersonResponse">
<part name="parameters" element="tns:DetaPersonResponse"/>
</message>
<message name="Estadoname">
<part name="parameters" element="tns:Estadoname"/>
</message>
<message name="EstadonameResponse">
<part name="parameters" element="tns:EstadonameResponse"/>
</message>
<message name="QRcode">
<part name="parameters" element="tns:QRcode"/>
</message>
<message name="QRcodeResponse">
<part name="parameters" element="tns:QRcodeResponse"/>
</message>
<message name="InsertImage">
<part name="parameters" element="tns:InsertImage"/>
</message>
<message name="InsertImageResponse">
<part name="parameters" element="tns:InsertImageResponse"/>
</message>
<message name="ValidarUsuario">
<part name="parameters" element="tns:ValidarUsuario"/>
</message>
<message name="ValidarUsuarioResponse">
<part name="parameters" element="tns:ValidarUsuarioResponse"/>
</message>
<message name="UsuarioUnico">
<part name="parameters" element="tns:UsuarioUnico"/>
</message>
<message name="UsuarioUnicoResponse">
<part name="parameters" element="tns:UsuarioUnicoResponse"/>
</message>
<portType name="WebServiceOP">
<operation name="ActualizarUsuario">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/ActualizarUsuarioRequest" message="tns:ActualizarUsuario"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/ActualizarUsuarioResponse" message="tns:ActualizarUsuarioResponse"/>
</operation>
<operation name="ActualizarUsuarioImg">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/ActualizarUsuarioImgRequest" message="tns:ActualizarUsuarioImg"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/ActualizarUsuarioImgResponse" message="tns:ActualizarUsuarioImgResponse"/>
</operation>
<operation name="TPLicenciaConductor">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/TPLicenciaConductorRequest" message="tns:TPLicenciaConductor"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/TPLicenciaConductorResponse" message="tns:TPLicenciaConductorResponse"/>
</operation>
<operation name="InsertarUsuario">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/InsertarUsuarioRequest" message="tns:InsertarUsuario"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/InsertarUsuarioResponse" message="tns:InsertarUsuarioResponse"/>
</operation>
<operation name="EliminarUsuario">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/EliminarUsuarioRequest" message="tns:EliminarUsuario"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/EliminarUsuarioResponse" message="tns:EliminarUsuarioResponse"/>
</operation>
<operation name="UpdateUsuarios">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/UpdateUsuariosRequest" message="tns:UpdateUsuarios"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/UpdateUsuariosResponse" message="tns:UpdateUsuariosResponse"/>
</operation>
<operation name="MostrarUsuarios">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/MostrarUsuariosRequest" message="tns:MostrarUsuarios"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/MostrarUsuariosResponse" message="tns:MostrarUsuariosResponse"/>
</operation>
<operation name="NumeroFinal">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/NumeroFinalRequest" message="tns:NumeroFinal"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/NumeroFinalResponse" message="tns:NumeroFinalResponse"/>
</operation>
<operation name="AutomovilName">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/AutomovilNameRequest" message="tns:AutomovilName"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/AutomovilNameResponse" message="tns:AutomovilNameResponse"/>
</operation>
<operation name="LicencName">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/LicencNameRequest" message="tns:LicencName"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/LicencNameResponse" message="tns:LicencNameResponse"/>
</operation>
<operation name="Recuperarimage">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/RecuperarimageRequest" message="tns:Recuperarimage"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/RecuperarimageResponse" message="tns:RecuperarimageResponse"/>
</operation>
<operation name="CmbMunicipio">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/CmbMunicipioRequest" message="tns:CmbMunicipio"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/CmbMunicipioResponse" message="tns:CmbMunicipioResponse"/>
</operation>
<operation name="CmbEstado">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/CmbEstadoRequest" message="tns:CmbEstado"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/CmbEstadoResponse" message="tns:CmbEstadoResponse"/>
</operation>
<operation name="InsertOrden">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/InsertOrdenRequest" message="tns:InsertOrden"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/InsertOrdenResponse" message="tns:InsertOrdenResponse"/>
</operation>
<operation name="DocumentQR">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/DocumentQRRequest" message="tns:DocumentQR"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/DocumentQRResponse" message="tns:DocumentQRResponse"/>
</operation>
<operation name="TPAutoUser">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/TPAutoUserRequest" message="tns:TPAutoUser"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/TPAutoUserResponse" message="tns:TPAutoUserResponse"/>
</operation>
<operation name="NameID">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/NameIDRequest" message="tns:NameID"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/NameIDResponse" message="tns:NameIDResponse"/>
</operation>
<operation name="DetaPerson">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/DetaPersonRequest" message="tns:DetaPerson"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/DetaPersonResponse" message="tns:DetaPersonResponse"/>
</operation>
<operation name="Estadoname">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/EstadonameRequest" message="tns:Estadoname"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/EstadonameResponse" message="tns:EstadonameResponse"/>
</operation>
<operation name="QRcode">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/QRcodeRequest" message="tns:QRcode"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/QRcodeResponse" message="tns:QRcodeResponse"/>
</operation>
<operation name="InsertImage">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/InsertImageRequest" message="tns:InsertImage"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/InsertImageResponse" message="tns:InsertImageResponse"/>
</operation>
<operation name="ValidarUsuario">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/ValidarUsuarioRequest" message="tns:ValidarUsuario"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/ValidarUsuarioResponse" message="tns:ValidarUsuarioResponse"/>
</operation>
<operation name="UsuarioUnico">
<input wsam:Action="http://ServiciosWeb/WebServiceOP/UsuarioUnicoRequest" message="tns:UsuarioUnico"/>
<output wsam:Action="http://ServiciosWeb/WebServiceOP/UsuarioUnicoResponse" message="tns:UsuarioUnicoResponse"/>
</operation>
</portType>
<binding name="WebServiceOPPortBinding" type="tns:WebServiceOP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ActualizarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarUsuarioImg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TPLicenciaConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MostrarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumeroFinal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AutomovilName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LicencName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Recuperarimage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CmbMunicipio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CmbEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocumentQR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TPAutoUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NameID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DetaPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Estadoname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QRcode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ValidarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuarioUnico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceOP">
<port name="WebServiceOPPort" binding="tns:WebServiceOPPortBinding">
<soap:address location="http://localhost:8080/WebServiceMobileBooth/WebServiceOP"/>
</port>
</service>
</definitions>